{% load static %}
<!-- start navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#0A0 "> 
    <div class="container">
        <a class="navbar-brand" href="#" >
            <span>E4</span><span>HealthyLife</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
            </li>
            {% comment %} <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
            </li> {% endcomment %}
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Settings
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% comment %} <li><a class="dropdown-item" href="{% url 'change_password'%}">change password</a></li> {% endcomment %}
                </ul>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">log<span class="block">out</span></a>
                </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">log<span class="block">in</span></a>
                </li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav> 
<!-- end navbar -->
